<section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Login</h3>
          <p class="subtitle has-text-grey">Please login to proceed.</p>
          <div class="box">
            <figure class="avatar">
              <img src="https://placehold.it/128x128">
            </figure>
            <%= form_for(:session, url: login_path) do |f| %>
              <%#= render 'shared/error_messages' %>

              <div class="field">
                <div class="control">
                  <%= f.email_field :email, placeholder: 'Your Email', class: 'input is-large' %>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <%= f.password_field :password, placeholder: 'Your Password', class: 'input is-large' %>
                </div>
              </div>

              <div class="field">
                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
              </div>
              <%= f.submit 'Login', class: 'button is-block is-info is-large' %>
            <% end %>
          </div>
          <p class="has-text-grey">
            <%= link_to 'Sign Up', signup_path %>&nbsp;·&nbsp;
            <a href="/reset">Forgot Password</a> &nbsp;
          </p>
        </div>
      </div>
    </div>
  </section>
