<div class="container">
  <div class="columns">
    <div class="column is-3">
      <aside class="menu">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a class="is-active">Dashboards</a></li>
          <li><%= link_to "Profile", current_user %></li>
        </ul>
      </aside>
    </div>
    <div class="column is-9">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><%= link_to "Log out", logout_path, method: :delete %></li>
          <li class="is-active"><a href="#" aria-current="page">Admin</a></li>
        </ul>
      </nav>
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hello, <%= @user.name %>.
            </h1>
            <h2 class="subtitle">
              I hope you are having a great day!
            </h2>
          </div>
        </div>
      </section>
      <section class="info-tiles is-top-space">
        <div class="tile is-ancestor has-text-centered">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">439k</p>
              <p class="subtitle">Events/s</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">2ms</p>
              <p class="subtitle">Resolution</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">50ms</p>
              <p class="subtitle">Delay</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">okay</p>
              <p class="subtitle">Status</p>
            </article>
          </div>
        </div>
      </section>
      <section>
        <div class="columns">
          <div class="column is-12">
            <div class="card events-card">
              <header class="card-header">
                <p class="card-header-title">
                  Create Dashboard
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                  <%= form_for :dashboard, url: '/dashboards' do |f| %>
                    <%= render 'shared/error_messages' %>
                    <div class="field has-addons">
                      <div class="control">
                        <%= f.text_field :name, placeholder: 'Dashboard Name', class: 'input' %>
                      </div>
                      <div class="control">
                        <%= f.submit 'Create', class: 'button is-info' %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="columns">
        <div class="column is-12">
          <div class="card events-card">
            <header class="card-header">
              <p class="card-header-title">
                Dashboards
              </p>
            </header>
            <div class="card-table">
              <div class="content">
                <table class="table is-fullwidth is-striped">
                  <tbody>
                    <% @user.dashboards.each do |dashboard|  %>
                    <tr>
                      <td width="5%"><i class="fa fa-bar-chart"></i></td>
                      <td><%= dashboard.name %></td>
                      <td>
                        <%= link_to 'Open', '/data/' + dashboard.uuid, class: 'button is-small is-primary' %>
                        <%= link_to 'Delete', dashboard, method: :delete, class: 'button is-small is-danger is-pulled-right' %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">View All</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
